#loginid::before {
  content: "";
  top: 0px;
  left: 0px;
  position: absolute;
  background: url("./images/login.jpg");
  height: 90%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#loginid {
  margin-top: 100px;
  color: aliceblue;
}
